.bg-light {
    background-color: $light-0
}
.bg-dark-gray-0 {
    background-color: $dark-gray-0
}
.bg-dark-gray-1 {
    background-color: $dark-gray-1
}
.bg-dark-gray-2 {
    background-color: $dark-gray-2
}
.bg-yellow-0 {
    background-color: $yellow-0
}