.border-light {
    border-color: $light-0 !important;
}
.border-dark-gray-0 {
    border-color: $dark-gray-0 !important;
}
.border-dark-gray-1 {
    border-color: $dark-gray-1 !important;
}
.border-dark-gray-2 {
    border-color: $dark-gray-2 !important;
}
.border-yellow-0 {
    border-color: $yellow-0 !important;
}
