.font-light {
	color: $light-0;
}
.font-dark-gray-0 {
	color: $dark-gray-0;
}
.font-dark-gray-1 {
	color: $dark-gray-1;
}
.font-dark-gray-2 {
	color: $dark-gray-2;
}
.font-dark-gray-3 {
	color: $dark-gray-3;
}
.font-yellow-0 {
	color: $yellow-0;
}

.font-bold {
	font-weight: bold;
}
